#container {
    display: flex;
}

#canvas {
    border: 2px solid #ccc9;
    border-radius: 17px;
    box-shadow: 5px 5px #9c99994d;
}

#inputs-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.checkbox-container {
    display: flex;
    margin: auto;
}

.card {
    background-color: #f0f0f0;
    border: 2px solid #ccc9;
    border-radius: 17px;
    display: flex;
    width: 580px;
    flex-direction: column;
    box-shadow: 5px 5px #9c99994d;
    margin: 20px;
}

input {
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.input-title {
    text-align: center;
}

button {
    border-radius: 10px;
    margin: 5px;
    height: 50px;
    background-color: #fff;
}

#logger {
   background-color: white;
   border: 2px solid #ccc9;
   border-radius: 10px;
   margin: 5px;
   padding: 10px;
   height: 200px;
   overflow: auto
}